<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <Title>Not found</Title>
        <LayoutView Layout="@typeof(MainLayout)">
            @* <p role="alert">Sorry, there's nothing at this address.</p> *@
            <NotFound></NotFound>
        </LayoutView>
    </NotFound>
</Router>

<MessageProvider/>
<ModalProvider/>
<PageProgressProvider/>